#sign-in, #account-page{
    padding: 3% 5%;
}
.log-in-page{
    width: 300px;
}
.page{
    margin: 3% 2%;
}
.log-in-button, .edit-button{
    background-color: orangered;
    padding: 5px 20px;
    margin: 2rem auto;
    color: white;
}
.edit-button{
    background-color: rgb(236, 202, 6);
    color: black;
}
.cancel-button{
    background-color: rgb(226, 30, 30);
    padding: 5px 20px;
    margin: 2rem 0;
}

.sign-up-text{
    color: grey;
}
.warning-text{
    color: rgb(165, 4, 4);
    margin: 0;
}

.account-data-container{
    width: max-content;

}
.account-text{
    margin: 0;
    margin-top: 20px;
}
.account-info{
    width: 100%;
}
.number-code{
    height: min-content;
    margin: auto 5px;
}
.log-out-container{
    width: max-content;
}

@media (max-width: 992px){
    .log-in-page{
        width: auto;
    }
}

@media (max-width: 768px){
    .account-data-container{
        margin: 0 auto;
        width: 100%;
    }
    .account-name{
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
}